<form [formGroup]="loginForm" (ngSubmit)="onSubmit(credentials)" class="z-depth-5 formation text-center border border-dael contact-form">
  <p class="h2 mb-4 sign-header">Login</p>
  <div class="md-form">
    <input formControlName="loginFormUsername" mdbInput type="text" id="form1" class="form-control">
    <label for="form1" class="">username</label>
  </div>
  <div class="md-form">
    <input formControlName="loginFormPassword" mdbInput type="text" id="form1" class="form-control">
    <label for="form1" class="">password</label>
  </div>
  <div class="d-flex justify-content-around">
  </div>
  <button [disabled]="loginForm.invalid" mdbWavesEffect mdbBtn outline="true" block="true" class="z-depth-0 my-4 waves-effect login-button btn btn-black">Login</button>
</form>