<div class="div-back">
  <button routerLink="/" mdbBtn type="button" id="top" class="back-button" color="mdb-color" mdbWavesEffect>برگشت به خانه</button>
</div>

<section class="z-depth-5 border border-dael">
  <div class="pannel" *ngFor="let items of Array">
    <div class="details">
      <div class="header display-block">
      <h2 class="title">{{ items.title }}</h2>
      <img class="images" src={{items.image}}>
        <div style="width: 70%; margin: 0 auto; display: block;">
          <p class="text">{{items.text}}</p>
        </div>
      </div>
      <div class="footer display-block">
        <p class="id">{{ items.id }}</p>
        <p class="create">{{ items.created_date }}</p>
        <p class="update">{{ items.updated_date }}</p>
      </div>
    </div>
  </div>
  
    <li><a mdbWavesEffect [ngx-scroll-to]="'#top'" (click)="firstPage()">1</a></li>
    <div>
      <li *ngFor="let page of ArrayPages"><a [ngx-scroll-to]="'#top'" mdbWavesEffect (click)="goPage(page)">{{ page }}</a></li>
    </div>
</section>


