<!--Main Navigation-->
<header class="intro-header" id="home">
  <!--Navbar-->
  <nav class="">
    <div class="container-fluid the-navbar">
      <div class="navbar-header">
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
          <mdb-navbar-brand>
            <a style="color:rgb(198, 247, 107)" class="logo navbar-brand waves-light" mdbWavesEffect href=""><strong>PEDRAM</strong></a>
          </mdb-navbar-brand>
          <links>
            <ul class="navbar-nav mr-auto" role="navigation">
              <li class="nav-item waves-light" mdbWavesEffect>
                <a style="color:rgb(198, 247, 107)" class="nav-link" [ngx-scroll-to]="'#home'">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                <a style="color:rgb(198, 247, 107)" class="nav-link" [ngx-scroll-to]="'#about'">about</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                <a style="color:rgb(198, 247, 107)" class="nav-link" [ngx-scroll-to]="'#me'">me</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                <a style="color:rgb(198, 247, 107)" class="nav-link" [ngx-scroll-to]="'#contact'">contact</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                <a style="color:rgb(198, 247, 107)" class="nav-link" routerLink="/blog">blog</a>
              </li>
            </ul>
          </links>
        </mdb-navbar>
      </div>
      <div class="the-blur"></div>
    </div>
  </nav>
  <!--/Navbar-->
  
  <!--Background-->
  <div class="background-image d-block view w-100 h-100">
    <div class="mask rgba-black-light d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="animated flip h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Minimalist intro</strong></h2>
              <hr style="color:aliceblue">
              <h5 class="animated bounceInLeft font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Trust me I'm a programmer</strong></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!--/Background-->
</header>
<!--/Main Navigation-->

<!--Carousel-->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100 h-100">
      <img class="d-block h-100 w-100" src="../../assets/images/۲۰۱۸۰۳۲۳_۱۹۲۱۰۴.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Light mask</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 h-100" src="../../assets/images/download.jpeg" alt="Second slide">
      <div class="waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Strong mask</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 h-100" src="../../assets/images/download1.jpeg" alt="Third slide">
      <div class="waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Slight mask</h3>
      <p>Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<!--/Carousel-->

<!--About-->
<div class="about" id="about">
  <div class="inabout">
    <h1 class="aboutH">About</h1>
    <img src="../../assets/images/about.jpg" alt="" class="personal-img">
    <div class="para">
      <p>Hi i’m Amirhossein . My friends call me Pedram
        I'm living in Tehran and i'm 21 years old
         I've had +7 years experience as a developer, starting out as a C/Unix systems programming and continued with web and software development like Java , Python , JS , HTML/CSS , JS and some frameworks like Spring , Laravel , Django .
      </p>
    </div>
  </div>
</div>
<!--/About-->

<!--Timeline-->
<sn-scroll-spy-section id="me" for="foo" class="time" style="display: inline-block;width: 100%;">
  <h1 class="timelineH">Me</h1><br><br>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline7">
                <div class="timeline">
                  <img class="timeline-icon" src="../../assets/images/img-2014.png" alt="">
                  <span class="year">2014</span>
                  <div class="timeline-content">
                      <h5 class="title" style="color:rgb(73, 96, 172)">C and C++ dev</h5>
                      <p class="description" style="max-height: 90px">
                      </p>
                  </div>
                </div>
                <div class="timeline">
                  <img class="timeline-icon" src="../../assets/images/img-2015.png" alt="">
                  <span class="year">2015</span>
                  <div class="timeline-content">
                      <h5 class="title">Web developer : HTML / CSS / JS / JQ / PHP / JAVA  / Python / Ruby</h5>
                      <p class="description" style="height:35px">
                      </p>
                  </div>
                </div>
                <div class="timeline" >
                  <img class="timeline-icon" src="../../assets/images/img-2016.jpg" alt="">
                  <span class="year">2016</span>
                  <div class="timeline-content">
                      <h5 class="title" style="font-size: 17px; direction:ltr;text-align: left">Linux : I have LPIC1 and LPIC2  certifications . I was using Debian , Fedora and Ubuntu  for 4 years and now i'm using Arch linux distribution.</h5>
                      <p class="description" style="height: 10px">
                      </p>
                  </div>
                </div>
                <div class="timeline">
                  <img class="timeline-icon" src="../../assets/images/img-2017.png" alt="">
                    <span class="year">2017</span>
                    <div class="timeline-content">
                        <h5 class="title">JAVA dev</h5>
                        <p class="description" style="max-height: 90px; height: 50px;">
                        </p>
                    </div>
                </div>
                <div class="timeline">
                  <img class="timeline-icon" src="../../assets/images/img-2018.png" alt="">
                  <span class="year">2018</span>
                  <div class="timeline-content">
                      <h5 class="title">Python dev</h5>
                      <p class="description" style="height: 8px">
                      </p>
                  </div>
              </div>
              <div class="timeline">
                <img class="timeline-icon" src="../../assets/images/img-2019.png" alt="">
                <span class="year">2019</span>
                <div class="timeline-content">
                    <h5 class="title">Dark Black</h5>
                    <p class="description" style="height: 10px">
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</sn-scroll-spy-section>
<!--/Timeline-->

<!--Contact-->
<sn-scroll-spy-section id="contact" for="foo" class="contact">
  <h1 class="hclass">Contact</h1>
  <div class="charts">
    <section class="z-depth-5 border border-dael info contact-form">
      <p class="h3 mb-4 contact-me text-center">Me</p>
      <ul class="contact-info">
        <li class="list-info">
            <mdb-icon fas icon="mobile-alt"></mdb-icon>
            <a href="tel:+989351750380" class="keys">+989351750380</a>
        </li>
        <li class="list-info">
          <i class="fas fa-at"></i>
          <a href="mailto:ramezanipc@yahoo.com" class="keys email-me">ramezanipc@yahoo.com</a>
        </li>
        <li class="list-info">
            <mdb-icon fab icon="instagram"></mdb-icon>
            <a href="http://instagram.com/khode_pedram" class="keys">khode_pedram</a>
        </li>
        <li class="list-info">
          <i class="fab fa-quora"></i>
          <a href="http://www.quera.ir/profile/ramezanipc" class="keys">ramezanipc</a>
      </li>
      </ul>
    </section>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="z-depth-5 formation text-center border border-dael contact-form form-right">
      <p class="h3 mb-4 contact-me">Contact me</p>
      <div class="md-form">
        <input formControlName="name" mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Name</label>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">name is required</div>
          <div *ngIf="name.errors.maxlength">max name is 8 characters</div>
          <div *ngIf="name.errors.minlength">max name is 4 characters</div>
        </div>
      </div>
      <div class="md-form">
        <input formControlName="email" mdbInput type="email" id="form1" class="form-control">
        <label for="form1" class="">Email</label>
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors.email">email is wrong</div>
          <div *ngIf="email.errors.required">email is required</div>
        </div>
      </div>
      <div class="md-form">
        <input formControlName="tell" mdbInput type="tel" id="form1" class="form-control">
        <label for="form1" class="">Tel</label>
        <div class="alert alert-danger" *ngIf="tell.touched && tell.invalid">
          <div *ngIf="tell.errors.required">tel is required</div>
          <div *ngIf="tell.errors.cannotContainSpace">tel is wrong</div>
        </div>
      </div>
      <div class="md-form">
        <textarea formControlName="comment" type="text" id="form7" class="md-textarea form-control" mdbInput></textarea>
        <label for="form7">Comment</label>
        <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">
          <div *ngIf="comment.errors.required">comment is required</div>
        </div>
      </div>
      <button mdbBtn outline="true" block="true" class="z-depth-0 send-button my-4 waves-effect" gradient="aqua" mdbWavesEffect type="submit" [disabled]="contactForm.invalid">Send</button>
    </form>

  </div>  
</sn-scroll-spy-section>
<!--/Contact-->

<!--Footer-->    
<app-footer></app-footer>
<!--Footer--> 

<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}" mdbWavesEffect>
  <button (click)="scrollToTop()" class="go-top btn btn-floating btn-large red waves-ligh">
    <i class="fas fa-arrow-up"></i>
  </button>
</div>
<!--/Scroll to top-->
